Source: otf-hiragino-installer
Section: contrib/fonts
Priority: extra
Maintainer: Hisashi MORITA <hisashim@workbook.org>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.8.3

Package: otf-hiragino-installer
Architecture: all
Description: Installer package for Hiragino font (OpenType)
 Installs OpenType version of Hiragino fonts.
